*
!.gitignore
!.config
!.config/nix
!.config/nix/nix.conf
!.config/nvim
!.config/nvim/*
!.config/nvim/lua/config/*
!.config/nvim/lua/plugins/*
!.config/tmux
!.config/tmux/*
!.config/fontconfig/
!.config/fontconfig/*
!.config/fontconfig/*/*
!nix/
