*
!.gitignore
!.config
!.config/nix
!.config/nix/nix.conf
!.config/nvim
!.config/nvim/*
!.config/nvim/lsp/*
!.config/nvim/lua/*
!.config/nvim/lua/*/*
!.config/tmux
!.config/tmux/*
!.config/fontconfig/
!.config/fontconfig/*
!.config/fontconfig/*/*
!nix/
!nix/old
!nix/old/*
!nix/neovim
!nix/neovim/*
!nix/core
!nix/core/*
!nix/mac
!nix/mac/*
